.checkout {
  font-family: "Jost", sans-serif;
}
.checkout h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 74.4px;
  text-align: left;
}

.checkout .timeline .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(245, 245, 220, 1);
  font-size: 20px;
  font-weight: 700;
}

.checkout .timeline .active {
  background: rgba(247, 220, 111, 1);
}

.checkout .timeline .line {
  width: 100px;
  height: 4px;
  background: rgba(247, 220, 111, 1);
  border-radius: 2px;
}

.checkout .timeline span {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.payment h3 {
  font-size: 22px;
  font-weight: 500;
}

.payment hr {
  width: 70%;
  margin-left: 10px;
}

.payment h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.9px;
  color: rgba(0, 0, 0, 0.5);
}

.payment label {
  font-size: 14px;
  font-weight: 500;
  line-height: 23.12px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.payment .form-control,
.form-select {
  border: 1px solid rgba(69, 43, 31, 1) !important;
  border-radius: 10px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 23.12px !important;
  color: rgba(0, 0, 0, 1) !important;
}

.payment .form-control::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.12px;
  color: rgba(0, 0, 0, 0.5);
}

.payment .form-control:focus,
.form-select:focus {
  border: 1px solid rgba(69, 43, 31, 1) !important;
  box-shadow: 0 0 0 0.25rem rgba(69, 43, 31, 0.25) !important;
}

.payment .form-select {
  background-image: none !important;
}

.payment .muted-text {
  color: rgba(0, 0, 0, 0.5) !important;
}

.payment .year {
  margin-top: 32px;
}

.payment .image-container.visa {
  background: url(../images/Visa.png) no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.payment .image-container.mastercard {
  background: url(../images/Mastercard.png) no-repeat;
  background-size: contain;
  height: 30px;
  width: 50px;
}

.payment .image-container.paypal {
  background: url(../images/PayPal.png) no-repeat;
  background-size: contain;
  height: 30px;
  width: 60px;
}

.payment .image-container.american-express {
  background: url(../images/AmericanExpress.png) no-repeat;
  background-size: contain;
  height: 30px;
  width: 60px;
}

.payment .submitBtn {
  padding: 10px 40px 10px 40px;
  background: rgba(247, 220, 111, 1);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.12px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .payment .image-container {
    height: 40px;
    width: 40px;
  }

  .payment h3 {
    font-size: 22px;
  }

  .payment .submitBtn {
    font-size: 18px;
  }

  .checkout .timeline .icon {
    width: 35px;
    height: 36px;
  }

  .checkout .timeline span {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .checkout h2 {
    font-size: 26px;
  }
  .checkout .timeline .line {
    width: 50px;
    height: 4px;
  }
  .payment .submitBtn {
    width: 100%;
  }
  .checkout .timeline .icon {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  .checkout .timeline span {
    font-size: 13px;
  }
  .payment hr {
    width: 90%;
  }
}
