header {
  background: rgba(245, 245, 220, 1);
  color: rgba(0, 0, 0, 1);
  font-family: "Jost", sans-serif;
}

header h2 {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 79.36px;
}

header p {
  font-size: 22px;
  font-weight: 500;
  line-height: 46.24px;
}

header .btn,
header .btn:hover,
header .btn:focus {
  background: rgba(247, 220, 111, 1) !important;
  border: 5px;

  font-size: 20px;
  font-weight: 700;
  line-height: 28.9px;
}

.header-image {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-image .image-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(10.73deg);
  position: absolute;
  left: 0px;
  z-index: 2;
  bottom: 15px;
}

.header-image .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
  border: 15px solid rgba(69, 43, 31, 1);
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .line {
  width: 134px;
  height: 5px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  background: rgba(51, 51, 51, 1);
  margin: 0 auto;
  display: none;
}

.products {
  position: relative;
}

.products .products-container {
  border: 1.5px solid rgba(69, 43, 31, 1);
  border-radius: 20px;
}

.products .title {
  text-align: center;
  background: rgba(69, 43, 31, 1);
  color: rgba(247, 220, 111, 1);
  border-radius: 10px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

.products .title h3 {
  font-size: 30px;
  font-weight: 600;
}

.products .title span {
  font-family: Playfair Display;
}

.products .products-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(min(9rem, 100%), 1fr));
  gap: 3rem;
  overflow-y: auto;
}

.products .products-list .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(69, 43, 31, 1);
  height: 100%;
}

.products .products-list .card .image-container {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  flex-grow: 1;
}

.products .products-list .card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products .products-list .product-details {
  margin-top: auto;
}

.products .products-list .product-details h5 {
  font-size: 18px;
  font-weight: 700;
}

.products .products-list .product-details p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.products .products-list .product-details h6 {
  font-size: 14px;
  font-weight: 700;
}

.products .products-list .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(69, 43, 31, 1);
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  header h2 {
    font-size: 30px;
    line-height: 50.36px;
  }

  header p {
    font-size: 17px;
  }

  .header-image .image-container {
    height: 300px;
    width: 300px;
  }
  .header-image .image-container img {
    bottom: 23px;
  }
  .header-image .circle {
    width: 200px;
    height: 200px;
    border: 12px solid rgba(69, 43, 31, 1);
  }

  .products .title h3 {
    font-size: 24px;
  }

  .products .products-list {
    grid-template-columns: repeat(3, minmax(min(9rem, 100%), 1fr));
  }
}

@media screen and (max-width: 576px) {
  header h2 {
    color: rgba(51, 51, 51, 1);
  }
  header .line {
    display: block;
  }

  .products .title {
    top: -10px;
  }
  .products .title h3 {
    font-size: 12px;
  }

  .products .products-list {
    grid-template-columns: repeat(2, minmax(min(9rem, 100%), 1fr));
    gap: 1rem;
  }

  .products .products-list .product-details h5 {
    font-size: 14px;
  }

  .products .products-list .card .icon {
    width: 30px;
    height: 30px;
  }
  .products .products-list .card .icon svg {
    font-size: 20px;
  }

  header p {
    font-size: 16px;
    font-weight: 400;
  }

  .continue {
    font-size: 14px;
  }
}
